.headline {
  text-align: center;
}

.headline__title {
  margin-bottom: 17px;
}

.headline__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #666666;
  padding: 0 27%;
  margin-bottom: 48px;
}